@media screen and (max-width: 768px) {
  .flag-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .flag-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .flag-container {
    gap: 10px;
  }
}
@media screen and (max-width: 420px) {
  .column-flex {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 10px !important;
  }
}
