@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #00000085;
  --white: #ffffff85;
  --border: 1px solid var(--white);
  --transition: all 0.5s linear;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: linear-gradient(to right, #414141, #000);
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
h1,
h2,
h3,
p,
a,
ul,
li,
label,
input,
button,
textarea,
select,
option {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
a:hover {
  color: #fff;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  background: #00000085;
  padding: 5px 10px;
  border: var(--border);
}
.input option {
  background: #000;
}
.button {
  border: none;
  outline: none;
  background: #00000085;
  padding: 5px 10px;
  border: var(--border);
  text-transform: capitalize;
  transition: var(--transition);
}
.button:hover {
  background: #000;
}
.top-border {
  border-top: var(--border);
}
.flag-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}
.flag-container .flag {
  cursor: pointer;
  transition: var(--transition);
  overflow: hidden;
  border: var(--border);
}
.flag-container .flag.answered {
  cursor: auto;
  opacity: 0.5;
  pointer-events: none;
}
.flag-container .flag img {
  aspect-ratio: 16/9;
}
